<html lang="en">

  <head>
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />

  <title>Dreamwork</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link href="static/css/style.css" rel="stylesheet" />
</head>
<header>
  <div class="flex-logo header-part">
    <a href="/" class="dreamwork-logo" data-link>Dreamwork</a>
  </div>
  <div class="flex-menu header-part"></div>
  <div class="flex-user header-part">
    <a class="user-container" href="/profile">
      <div class="user-name">{{user.name}} {{user.surname}}</div>
      <div class="user-role">{{user.role}}</div>
    </a>
  </div>
</header>

<body>
  <div class="body-flex">
    <div class="sidebar">
      <div class="sidebar-nav nav-top">
        <a class="nav-item projects" href="/project">
          <div class="active-indicator"></div>
          <img class="icon" src="/static/media/project.svg" />
          <div class="text">Projects</div>
          <div class="current-project-text">
            <p>Current project:</p>
            <p>Sukurti dreamworką</p>
          </div>
        </a>
        <a class="nav-item tasks" href="/tasks">
          <img class="icon" src="/static/media/tasks.svg" />
          <div class="text">Tasks</div>
        </a>
        <a class="nav-item profile" href="/profile">
          <img class="icon" src="/static/media/profile.svg" />
          <div class="text">Profile</div>
        </a>
        <a class="nav-item performance" href="/performance">
          <img class="icon" src="/static/media/performance.svg" />
          <div class="text">Performance</div>
        </a>
      </div>
      <div class="sidebar-nav nav-bottom">
        <a class="nav-item logout" href="/logout" action="/logout" method="GET">
          <img class="icon" src="/static/media/logout.svg" />
          <div class="text">Logout</div>
        </a>
      </div>
    </div>
      <div class="view-content">
        <div class="window" id="myWindow">
        <input class="bbdbutton" id="textField" type="text" placeholder="Enter text">
        <button id="submitBtn">Submit</button>
        <button id="closeBtn">Close</button>
    </div>
  <div class="container mt-1 project-container">
    
    <div class="col projects-col">
      
      <h2 class="projects-header">Projects</h2>
      <div class="list-group project-list">
  {{#each projects}}
  <div class="list-group-item-container">
    <a href="#" class="list-group-item list-group-item-action{{#if this.active}} active{{/if}}"
      aria-current="{{#if this.active}}true{{/if}}" data-project-id="{{this.project_id}}">
      {{this.name}}
    </a>
    <button class="delete-project-btn" data-project-id="{{this.project_id}}">
      <img src="/static/media/exit.svg" />
    </button>
    <button type="button" class="btn btn-primary" id="EditButton" data-project-id="{{this.project_id}}">
    Edit
    </button>
  </div>
  {{/each}}
</div>


      <button class="create-new-project-btn">
        <h5>Create</h5>
        <img src="/static/media/plus.svg" />
      </button>
    </div>
    <div class="col project-info-col">
      <h2 class="projects-header">Details</h2>
      <div class="project-detail-table">
        <div class="project-name-header">Project name</div>
        <div class="project-name" id="selectedProjectName"></div>
        <div class="project-description-header">Project description</div>
        <div class="project-description" id="selectedProjectDescription"></div>
        <div class="project-deadline-header">Project deadline</div>
        <div class="project-deadline" id="selectedProjectDeadline"></div>
        <div class="project-manager-header">Project manager</div>
        <div class="project-manager" id="selectedProjectManager"></div>
      </div>
    </div>
    <div class="col users-list-col">
      <h2 class="projects-header">Attendants</h2>
      <ul class="list-group attendant-list" id="selectedProjectAttendants">
      </ul>
    </div>
  </div>
</div>


    <div class="modal-window project-modal-window">
      <div class="create-new-project-window">
        <button class="close-modal"><img src="static/media/exit.svg" /></button>
        <h1>New Project</h1>
        <form method="POST" action="project/create-project">
          <div class="form-group">
            <label for="project-name">Project name:</label>
            <input
              type="text"
              id="project-name"
              name="project-name"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="project-description">Project description:</label>
            <textarea
              type="text"
              id="project-description"
              name="project-description"
              class="form-control"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="project-deadline">Task Deadline</label>
            <input
              name="project-deadline"
              type="date"
              class="form-control"
              id="project-deadline"
              oninvalid="this.setCustomValidity('Please select a valid date')"
              min=""
              required
            />
          </div>
          <div class="form-group">
            <label for="add-user">Add user:</label>
            <select name="add-user" id="add-user-select" class="form-control">
              {{#each users}}
                <option
                  value="{{this.id}}"
                  data-id="{{this.id}}"
                  data-role="{{this.role}}"
                >{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <table>
            <thead>
              <tr>
                <th>User name</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody id="user-table">
            </tbody>
          </table>
          <br />
          <button type="button" id="create-button">Create project</button>
        </form>
      </div>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="module" src="/static/js/project.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>

</body>

  </body>

</html>